
/* Navbar styles */
.navbar
{
    background: var(--highlight-dark);
    position: sticky;
    top: 0;
    z-index: 64;
}

.nav-item , .navbar-brand
{
    color: var(--text-primary);
    cursor: pointer;
}

.nav-link
{
    margin-right: 1em !important;
    padding-left: 0.5rem !important;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.nav-item:hover
{
    background: var(--highlight-light);
    color: var(--text-primary);
}
.navbar-brand:hover
{
    color: var(--text-primary);
}
.navbar-brand:visited
{
    color: var(--text-primary);
}

.navbar-collapse
{
    justify-content: center;
}
/* Navbar end */

/* Header styles */
.header
{
    /*background-image: url('../img/logoFullBig16d9.jpg');*/
    background-color: #000;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header video
{
    background-color: #000;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    width: auto;
}

@media (max-width: 640px) {
    .header 
    {
        background: url('../img/logoFullBig16d9.jpg') #000 !important;
        background-size: contain !important;
    }
    .header video { display: none; }
}
/* Header end */

/* Main Page styles */
html, body
{
    background: var(--bg-secondary);
    scroll-behavior: smooth;
}
body
{
    overflow-x: hidden;
}

.container
{
    overflow: auto;
    background: var(--bg-primary);
    color: var(--text-primary);
}

.row
{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.btn-primary
{
    border-color: var(--highlight-border);
    background: var(--highlight-light);
    color: var(--text-primary);
}
.btn-primary:hover
{
    background: var(--highlight-dark);
    border-color: var(--highlight-dark);
}

.section-title
{
    font-size: 4em;
    color: var(--text-special);
    margin: 1em;
}

.about
{
    margin: 0;
    padding: 1em;
    position: relative;
}

.about .desc
{
    padding: 2em;
    border-left: 4px solid var(--highlight-dark);
}

.about p
{
    margin: 1em 0;
    line-height: 2;
    color: var(--text-primary);
}

.contact-icon
{
    height: 3em;
    width: auto;
    vertical-align: text-bottom;
    /* margin: 0 1em; */
}

.contact h3
{
    margin: 1em 0;
    text-decoration: underline;
}

.contact .mail
{
    padding: 0 1em;
    font-size: larger;
    text-align: center;
}
.contact .desc
{
    padding-bottom: 5rem;
}

.space
{
    display: inline-block;
    width: 1em;
}
/* Main Page end */

/* Footer styles */
.footer
{
    padding: 1em;
    background-color: var(--highlight-dark);
    color: var(--text-primary);
}
/* Footer end */

.no-space
{
    height: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}